* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  padding: 2rem;
  background-color: #f9f9fb;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
